<!DOCTYPE html>
<html>

	<head>
	
	<link rel="stylesheet" href="{{css 'style.css' }}">
	
	</head>
	
	<body>
	
	<!-- Main Layout containers -->
	<div id="content-container">
		<div id="content-columns">
			<main id="content-main-column" class="content-block">
	
	<!-- Adding logo or site title to the page -->
	
	<!-- Adding link to frontpage if it is not that -->
	{{#is "index"}}{{else}}
		<a href="{{@website.url}}">
	{{/is}}
	
	{{#if @website.logo}}
    	<img src="{{@website.logo}}" alt="{{@website.name}}" 
    		width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
	{{else}}
    	{{@website.name}}
	{{/if}}
	
	<!-- Closing link if not frontpage -->
	{{#is "index"}}{{else}}
		</a>
	{{/is}}
	
	<!-- End adding logo... -->