{{> head}}

	<!-- Adding all the posts, one by one. -->
	{{#each posts}}

		<h2>
		<a href="{{url}}">{{{title}}}</a>
		</h2>

		<!-- The date the post was posted -->
		Posted
		<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
			{{date createdAt}}
		</time>

		<!-- The tags attached to the post -->
		{{#if tags}}
			Tags
			{{#each tags}}
				<a href="{{url}}">{{name}}</a>
			{{/each}}
		{{/if}}
			
		<!-- The post body, the whole text or only a excerpt -->
		{{#if hasCustomExcerpt}}
			{{{ excerpt }}}
			<a href="{{url}}">Read more</a>
		{{else}}
			{{{ text }}}
		{{/if}}

	{{/each}} <!-- End of adding the posts -->
	
	{{> pagination}}

{{> footer}}